html {
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    padding-top: 72px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.form-select {
    width: 200px;
}

.film-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 25px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.film-item {
    position: relative;
    width: 264px;
    padding: 15px;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, .8);
    color: orange;
    border-radius: 6px;
}

.film-heading {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: green;
}

.film-img {
    margin-bottom: 15px;
    object-position: center -20px;
    object-fit: cover;
    vertical-align: middle;
}

.film-description {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 14px;
}

.film-genres__heading {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 18px;
    color: red;
}

.film-genres {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
}

.film-time {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: orangered;
}

@media only screen and (max-width: 1200px) {
    .film-list {
        column-gap: 2%;
    }

    .film-item {
        display: flex;
        width: 49%;
        padding-bottom: 30px;
    }

    .film-img {
        width: 200px;
        margin-right: 20px;
        margin-bottom: 0;
    }

    .film-heading {
        width: 200px;
    }
}

@media only screen and (max-width: 991px) {
    .film-item {
        display: block;
        padding-bottom: 50px;
    }

    .film-img {
        width: 100%;
        height: 300px;
        margin-bottom: 15px;
    }

    .film-heading {
        width: 100%;
    }
}

@media only screen and (max-width: 576px) {
    .film-item {
        width: 100%;
    }
}